@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@100;300&display=swap');


:root {
    --cor-primaria: #6D6A63;
    --cor-secundaria: #FFFFFF;

    --fonte-primaria: 'Poppins', sans-serif;
}

* {
    margin: 0%;
    padding: 0%;
}

html, body {
    background: var(--cor-secundaria);
    box-sizing: border-box;
    width: 100%;

}

.apresentacao {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__texto {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    text-align: justify;
    font-weight: 400;
}

#botao-inicio {
    background-color: var(--cor-primaria); 
    border: none;
    border-radius: 24px;
    color: var(--cor-secundaria);
    padding: 15px 32px;
    text-align: center;
    font-size: 1rem;
    align-self: center;
}

#botao-inicio:hover {
    box-shadow: 0 12px 16px 0 rgba(5, 111, 5, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.apresentacao__imagem {
    width: 50%;
}

.cabeçalho {
    font-family: var(--fonte-primaria);
    font-weight: 300;
    text-align: center;
    font-size: 1.25rem;
    color: var(--cor-secundaria);
    text-shadow: 4px 6px 10px #000000;
    background: var(--cor-primaria);
}

.cabeçalho__links{
    margin: 0 1% 0 1%;
    color: var(--cor-secundaria);
    text-decoration: none;
    font-weight: 200;
}

.busca {
    margin: 1%;
    text-align: center;
    margin-bottom: 5%;
}

.buttonlink {
    background-color: var(--cor-secundaria);
    text-decoration: none;
    width: 280px;
    color: #000000;
    border-radius: 3px;
    font-family: var(--fonte-primaria);
    font-weight: 300;
    border-style: solid;
    border-width: 1px;
    border-color: #717171;
    padding: 1px;
}

.select {
    position: relative;
    border-radius: 3px;
    font-family: var(--fonte-primaria);
    font-weight: 300;
    background-color: var(--cor-secundaria);
    border-color: #717171;
  }

.calculo{
    margin: 1%;
    font-family: var(--fonte-primaria);
    font-size: 1rem;
}

.calculo-personagens{
    margin: 1%;
    font-family: var(--fonte-primaria);
    font-size: 1rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin: 1rem;
}

.card {
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: var(--fonte-primaria);
    font-weight: 300;
    font-size: 0.5rem;
}

.card__image {
    max-width: 100%;
    width: 200px;
    height: 280px;
    object-fit: cover;
    margin: 1rem;
}

.card__title {
    font-family: var(--fonte-primaria);
    font-size: 1rem;
}

.card__third-information-personagem{
    margin-bottom: 1rem;
}

.botao {
    margin: 1rem;
    background-color: var(--cor-primaria); 
    border: none;
    border-radius: 6px;
    color: var(--cor-secundaria);
    padding: 7px 14px;
    text-align: center;
    font-size: 1rem;
    align-self: center;
}

.botao:hover {
    box-shadow: 0 12px 16px 0 rgba(5, 111, 5, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


#fade, #modal {
    transition: .5s;
    opacity: 1;
    pointer-events: all;
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--cor-secundaria);
    z-index: 10;
    width: 500px;
    max-width: 90%;
    padding: 1.2rem;
    border-radius: 0.5rem;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--cor-primaria);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

#modal.hide,
#fade.hide {
    opacity: 0;
    pointer-events: none;
}

#modal.hide {
    top: 0;
}


@media (max-width: 1024px) {
    .apresentacao {
        flex-direction: column-reverse;
    }

    .apresentacao__conteudo {
        width: auto;
        align-items: center;
    }

    .cabeçalho__links{
        font-size: 1.25rem;
    }

    .busca {
        margin: 2%;
    }

    .select {
        font-size: 1rem;
      }
}